In [15]:
import geopandas as gpd
import pandas as pd
import urllib.request

import matplotlib as pl
%matplotlib inline

In [3]:
fname = "./data/nyc_zip_code_tabulation_areas_polygons.geojson"

df = gpd.read_file(fname)

print(type(df))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [5]:
df.head()

,cartodb_id,objectid,postalcode,po_name,state,borough,st_fips,cty_fips,bldgpostalcode,shape_leng,shape_area,id,geometry
0,173,173,11693,Far Rockaway,NY,Brooklyn,36,047,0,9479.917277,3.497516e+06,http://nyc.pediacities.com/Resource/PostalCode...,"MULTIPOLYGON (((-73.84076 40.62536, -73.84306 ..."
1,48,48,10463,Bronx,NY,Manhattan,36,061,0,7791.517127,3.119702e+06,http://nyc.pediacities.com/Resource/PostalCode...,"MULTIPOLYGON (((-73.91544 40.87559, -73.91509 ..."
2,51,51,10033,New York,NY,Manhattan,36,061,0,29415.607123,1.615605e+07,http://nyc.pediacities.com/Resource/PostalCode...,"MULTIPOLYGON (((-73.93213 40.86945, -73.93128 ..."
3,120,120,11367,Flushing,NY,Queens,36,081,0,33506.126605,7.281015e+07,http://nyc.pediacities.com/Resource/PostalCode...,"MULTIPOLYGON (((-73.83761 40.74324, -73.83516 ..."
4,64,64,10472,Bronx,NY,Bronx,36,005,0,27006.042411,3.096325e+07,http://nyc.pediacities.com/Resource/PostalCode...,"MULTIPOLYGON (((-73.88011 40.83723, -73.87747 ..."

In [10]:
url = 'https://data.cityofnewyork.us/api/views/nu7n-tubp/rows.csv?accessType=DOWNLOAD'
urllib.request.urlretrieve(url, './data/nycDogLicenses.csv')

('./data/nycDogLicenses.csv', <http.client.HTTPMessage at 0x7fe50ee16290>)

In [13]:
dogs = pd.read_csv('./data/nycDogLicenses.csv')
dogs.head()

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,NaN,10035,09/12/2014,09/12/2017,2016
1,2,YOGI,M,2010,Boxer,NaN,10465,09/12/2014,10/02/2017,2016
2,3,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2016
3,4,QUEEN,F,2013,Akita Crossbreed,NaN,10013,09/12/2014,09/12/2017,2016
4,5,LOLA,F,2009,Maltese,NaN,10028,09/12/2014,10/09/2017,2016

In [25]:
dogs.AnimalBirthMonth.value_counts().head()

2016    36151
2015    35316
2014    31119
2013    27275
2012    25098
Name: AnimalBirthMonth, dtype: int64

In [26]:
dogs.AnimalBirthMonth.max()

2018

In [35]:
dogs.ZipCode.unique()

array([10035, 10465, 10013, 10028, 10025, 11215, 11201, 10022, 10003,
       11220, 10040, 10463, 11238, 10002, 10308, 10011, 11209, 11208,
       11218, 11232, 10312, 10023, 11231, 10461, 11224, 10471, 11236,
       11229, 11361, 10021, 10309, 10024, 10038, 10467, 33185, 10012,
       10473, 11104, 10034, 11379, 10029, 10451, 11374, 11106, 10016,
       11435, 10065, 10280, 10031, 10128, 10475, 11230, 10460, 11101,
       11211, 11375, 11228, 10036, 10462, 10458, 10019, 10454, 11373,
       11217, 11237, 11214, 11385, 11102, 10027, 10301, 11222, 11364,
       11234, 11205, 11377, 10314, 10306, 10014, 11206, 10026, 10032,
       11365, 11694, 11221, 11372, 10469, 11358, 11414, 10009, 10033,
       11429, 11378, 11105, 10456, 11249, 11426, 11225, 10282, 10459,
       10075, 11416, 11216, 11355, 10304, 11235, 10001, 10007, 10039,
       11415, 10017, 10452, 11204, 11434, 11418, 10470, 10037, 11233,
       11368, 11219, 11354, 11223, 11207, 11239, 10303, 11226, 11691,
       11423, 11419, 10455, 11692, 10018, 10010, 10310, 11109,  7030,
       10307, 10005, 11103, 11360, 10305, 11697, 11212, 11369, 11370,
       10472, 10468, 11357, 10004, 10466, 10302, 11004, 11367, 11693,
       11210, 10464, 11420, 11362, 11432, 28677, 10457, 10044, 11366,
       10125, 10453, 11428, 11412, 11213, 11427, 11040, 11421, 11417,
       10030, 11356, 10069, 11203, 11413, 11550, 11422, 11001, 12051,
       11436, 11469, 11433, 10006, 53494, 11003, 11746, 10474, 11590,
       11933, 10101,   121, 12143, 11363,  8527,  7430, 10262, 11542,
       10708, 11386, 10927, 10247, 10119, 11411, 11545, 10920, 10107,
       10704, 11509, 11010, 10707, 11518, 10068, 11023, 10108,  8901,
       32163, 10901, 10705, 10156, 11757, 22223, 11710, 10159, 11243,
       10185, 10118, 10163, 14432, 11961, 11783, 11784, 10533, 11756,
       11520, 10502, 90802, 10950, 10008, 48375, 11050, 11944,  8110,
       11005, 91607, 11305, 10512, 11336, 14847, 14420,  7090, 10175,
       10805, 12790,  7675, 12601, 10583, 11706, 10801, 10550, 11732,
       11758, 11552,  7302, 11978, 18705, 11791, 11021, 14228, 10701,
        7624, 12083, 10606, 10116, 90036,  9012, 77005, 11030, 10703,
       10150, 11580, 94109, 10162, 98363, 11714, 11743, 10313,  7013,
       11202, 11690, 10272, 11020, 12721, 10155, 31539, 11141, 84108,
       11516, 10520, 20854, 94608, 11246, 11352, 33711, 10940, 10113,
       12136, 10990, 10020, 11581, 11376, 10522,  7094,  7036, 12590,
       11425, 10153,  7728, 12564, 10151, 11431, 11793, 11096, 14001,
       11553, 28411, 11713, 98058, 11755, 11301, 10530,  1175, 11548,
       11716, 11630, 33467, 11726, 13642, 14216, 10577, 60510, 98072,
       10570, 10548, 97209, 78751, 10562, 11570, 14450, 10962, 10274,
       68164, 12722, 10129, 37209, 11753, 10566, 11971, 12180, 11579,
       10710, 10276, 11024, 10598, 10952, 11134, 11609, 11977, 33401,
       32819,  7748, 33805, 10362, 91343, 10450,  8830, 11561, 12533,
       11963, 11772, 11721, 10552, 10970, 11731, 72764, 94117, 11242,
       10603, 10605, 10968, 11569,  6403, 11338, 34746, 11563, 13045,
       30305, 10268, 11946, 10803,  7410,  7307, 90403, 10111, 11704,
       22314, 12202, 11967, 10591, 11347, 13027, 11803, 12538,  7304,
        7650, 12775, 11695, 11735,  7010, 11717, 10918, 17046, 11920,
       99202, 11016, 11725,  1135, 33456, 11575, 27707, 99508, 84014,
       10514, 11741,  7601, 13369, 11631, 12550, 13637, 10523, 10543,
       11566, 10048, 10954, 10015, 10930, 11359, 10549, 10123, 11554,
        7733, 32617, 13501, 45822, 10977, 10506, 37129, 11508, 10580,
       14207, 11309, 14220, 10573,  7306, 11572, 11701,  6518, 10275,
       11094, 13202, 32043, 12401, 10941, 10956, 11576, 11763, 14850,
       12553, 33139, 12866, 11937, 11727, 10511, 43210, 10176, 11025,
       10120, 12303, 10045, 10169, 11344, 11026, 11565, 10569, 14221,
       11965, 10604, 11510, 11797,  7093, 10980, 11968, 11313, 10315,
        7977, 11722, 18702,  6615,  1305, 13068,  6473, 27857, 10165,
       11868, 11790, 10528, 12701,  6901, 11351, 10244, 78749,  7606,
        7087,  7002,  8009, 33428, 11950, 11780, 13032])

In [45]:
dogsByZip = dogs[dogs.AnimalBirthMonth>=2012].groupby('ZipCode', as_index=False).count()[['ZipCode', 'RowNumber']]

In [48]:
dogsByZip.rename(columns={"ZipCode":"postalcode", "RowNumber":"dogcount"}, inplace=True)

In [55]:
dogsByZip['postalcode'] = dogsByZip['postalcode'].apply(lambda x: '{0:0>5}'.format(x))

In [59]:
dogsByZip = df.merge(dogsByZip, on='postalcode')

In [61]:
print(type(dogsByZip))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [66]:
dogsByZip.drop(['id', 'bldgpostalcode', 'cty_fips', 'st_fips', 'cartodb_id', 'objectid'], axis=1, inplace=True)

In [ ]:
dogsByZip.